---
---

@import "{{ site.theme }}";

h3, h4{
    color: #1660c2 !important;
}

.page-header{
    background-image: linear-gradient(180deg, #1660c2, #33CCFF);
}

.lnk {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-decoration: underline;
}

.home .features {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
}

.home .features .feature-list {
    margin-top: 3em;
    display: block;
    float: left;
}

.home .features .feature-list .feature {
    text-align: center;
    width: 28%;
    display: inline-block;
    margin: 1em 2% 6em;
    height: 200px;
    float: left;
}

.home .features .feature-list .feature i::before {
    background: linear-gradient(180deg, #1660c2, #33CCFF);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #33CCFF;
}

.home .features .feature-list .feature header {
    font-weight: 700;
    margin-bottom: 0.6em;
}

.home .features .feature-list .feature p {
    font-weight: 400;
    color: #777;
    font-size: 0.9em;
    line-height: 1.7em;
}

.home .features p {
    font-weight: 400;
    color: #777;
    display: block;
}

.home .features .feature-list .feature i {
    display: inline-block;
    text-align: center;
    margin: 0 auto 0.4em;
    font-size: 3.2em;
}

@media screen and (max-width: 600px) {
    .home .features .feature-list .feature {
        width: 100%;
        margin: 0 auto
    }
}

.services:after{
    content: 'my favorite site?';
    animation-name: head;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes head {
    10% { content: 'Hulu?'}
    20% { content: 'YouTube?' }
    30% { content: 'Netflix?'}
    40% { content: 'Amazon Video?'}
    50% { content: 'Plex?'}
    60% { content: 'Channel 9?'}
    70% { content: 'Pluralsight?'}
    80% { content: 'Vimeo?'}
    90% { content: 'Sling?'}
    100% { content: 'my favorite site?'}
}