---
---

@import "{{ site.theme }}";

h3, h4{
    color: #1660c2 !important;
}

.page-header{
    background-image: linear-gradient(180deg, #1660c2, #33CCFF);
}

.lnk {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-decoration: underline;
}

.home .features {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
}

.home .features .feature-list {
    margin-top: 3em;
    display: block;
    float: left;
}

.home .features .feature-list .feature {
    text-align: center;
    width: 28%;
    display: inline-block;
    margin: 1em 2% 6em;
    height: 200px;
    float: left;
}

.home .features .feature-list .feature i::before {
    background: linear-gradient(180deg, #1660c2, #33CCFF);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #33CCFF;
}

.home .features .feature-list .feature header {
    font-weight: 700;
    margin-bottom: 0.6em;
}

.home .features .feature-list .feature p {
    font-weight: 400;
    color: #777;
    font-size: 0.9em;
    line-height: 1.7em;
}

.home .features p {
    font-weight: 400;
    color: #777;
    display: block;
}

.home .features .feature-list .feature i {
    display: inline-block;
    text-align: center;
    margin: 0 auto 0.4em;
    font-size: 3.2em;
}

.services:after{
    content: '';
    animation-name: head;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% { opacity:0; }
    5% { opacity:1; content: "Hulu?\""}
    10% { opacity:0;}
    15% { opacity:1; content: "YouTube?\""}
    20% { opacity:0;}
    25% { opacity:1; content: "Amazon Video?\""}
    30% { opacity:0;}
    35% { opacity:1; content: "Plex?\""}
    40% { opacity:0;}
    45% { opacity:1; content: "Channel 9?\""}
    40% { opacity:0;}
    55% { opacity:1; content: "Pluralsight?\""}
    60% { opacity:0;}
    65% { opacity:1; content: "Golf Channel?\""}
    70% { opacity:0;}
    75% { opacity:1; content: "Vimeo?\""}
    80% { opacity:0;}
    85% { opacity:1; content: "my favorite site?\""}
    90% { opacity:0;}
    95% { opacity:1; content: "Netflix?\""}
    100% { opacity:0;}
}